.task {
    min-height: 2rem;
    list-style: none;
    border-bottom: 1px solid rgba(132, 132, 132, 0.5);
    display: flex;
    justify-content: space-between;
}

.task:hover .task__delete {
    visibility: visible;
}

.task__delete {
    visibility: hidden;
    align-self: stretch;
    border-left: 1px solid black;
    text-align: right;
    flex: none;
    cursor: default;
}

.task__delete:hover {
    background-color: palevioletred;
}

.task__body {
    padding: 5px;
    overflow: hidden;
    transition: 0.2s;
    flex: 1;
}

.task__body:hover {
    background-color: #999999;
    transition: 0.2s;
}

.task__title {

}

.task__notes {
    font-size: smaller;
    color: grey;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
