/*Autoresize, font change*/

.cm-s-codemirror {
    font-family: "Source Sans Pro", Consolas, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}

.cm-s-codemirror.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    min-height: 50px;
    /*background: #2B2B2B;*/
    /*color: #A9B7C6;*/
}

/*.cm-s-codemirror .CodeMirror-matchingbracket {
    background-color: #3B514D;
    color: #FFEF28 !important;
    font-weight: bold;
}*/


/*.cm-s-codemirror .CodeMirror-gutters {
    background: #313335;
    border-right: 1px solid #313335;
}*/

/*
.cm-s-codemirror div.CodeMirror-selected {
    background: #214283;
}

.cm-s-codemirror .CodeMirror-cursor {
    border-left: 1px solid #A9B7C6;
}*/
